<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>  
</div> 
<div>
  <h2>
    Turnaj v beach volejbalu se blíží {{formattedDate}}!
  </h2>
  <p><span>Zbýva:</span><span>{{remains}} v milisekundach :)</span></p>
  <button id="btnTournament">Turnaj</button>
  <button id="btnPlayrs">Hráči</button>

  <h3>Hráči</h3>
  <ul class="heroes">
    <li *ngFor="let player of players" 
        [class.selected]="player === selectedPlayer"
        (click)="onSelect(player)">
      <span class="badge">{{player.id}}</span> {{player.name}}
    </li>
  </ul> 
</div> 

